In [1]:
import intake

In [2]:
catalog = intake.open_catalog('../catalog.yml')

In [3]:
print('Available Datasets')
for name in catalog:
    print(f'   {name:32} {catalog[name].description:32}')

Available Datasets
   recycling                        Recycling Flat
   landfill                         Landfill Flat
   solid_waste_mulch                Solid Waste Mulch
   solid_waste_stream               Solid Waste Stream
   solid_waste_landfill             Solid Waste Landfilled
   solid_waste_commodity_recycling  Solid Waste Commodity Recycling
   solid_waste_recycled_diverted    Solid Waste Recycled Diverted

In [6]:
# test dataset loading
for name in catalog:
    catalog[name].read()
    print('attempting load', name)

attempting load recycling
attempting load landfill
attempting load solid_waste_mulch
attempting load solid_waste_stream
attempting load solid_waste_landfill
attempting load solid_waste_commodity_recycling
attempting load solid_waste_recycled_diverted

In [7]:
# dataset description
catalog.solid_waste_landfill.discover()

{'datashape': None,
 'dtype': {'Type': 'object',
  'Waste': 'float64',
  'C&D, Diverted': 'float64',
  'Month': 'datetime64[ns]'},
 'shape': (None, 4),
 'npartitions': 1,
 'metadata': {'cache': [],
  'catalog_dir': '/media/sf_p/WasteKnox/notebooks/../'}}

In [8]:
df = catalog.solid_waste_landfill.read()
df.head(5)

                Type    Waste  C&D, Diverted      Month
0  Transfer Station   1321.99         1072.0 2018-01-01
1    Household Trash  3530.99            NaN 2018-01-01
2         Misc Trash     1.67            NaN 2018-01-01
3       Construction      NaN          317.0 2018-01-01
4              Codes      NaN          157.0 2018-01-01

In [ ]:
df