In [1]:
import intake

In [2]:
catalog = intake.open_catalog('../catalog.yml')

In [3]:
print('Available Datasets')
for name in catalog:
    print(f'   {name:32} {catalog[name].description:32}')

Available Datasets
   recycling                        Recycling Flat
   landfill                         Landfill Flat
   solid_waste_landfill             Solid Waste Landfilled
   solid_waste_commodity_recycling  Solid Waste Commodity Recycling
   solid_waste_recycled_diverted    Solid Waste Commodity Recycling

In [4]:
# dataset description
catalog.solid_waste_landfill.discover()

{'datashape': None,
 'dtype': {'Source': 'object',
  'Waste': 'float64',
  'C&D, Diverted': 'float64',
  'Month': 'object'},
 'shape': (None, 4),
 'npartitions': 1,
 'metadata': {'cache': [],
  'catalog_dir': '/media/sf_p/WasteKnox/notebooks/../'}}

In [5]:
df = catalog.solid_waste_landfill.read()
df.head(5)

              Source    Waste  C&D, Diverted     Month
0  Transfer Station   1321.99         1072.0  2018 JAN
1    Household Trash  3530.99            NaN  2018 JAN
2         Misc Trash     1.67            NaN  2018 JAN
3       Construction      NaN          317.0  2018 JAN
4              Codes      NaN          157.0  2018 JAN